/* Show drawer and button only on mobile screens (max-width: 768px) */

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@media (max-width: 768px) {
    .mobile-menu-button {
      display: inline-block !important; /* Show the button on mobile */
    }
  
    .mobile-drawer {
      display: block !important; /* Show the drawer on mobile */
    }
  }
  
  /* Hide drawer and button on larger screens (min-width: 768px) */
  @media (min-width: 768px) {
    .mobile-drawer {
      display: none !important; /* Hide the drawer on desktop */
    }
  
    .mobile-menu-button {
      display: none !important; /* Hide the button on desktop */
    }
  }
  

  body{


 span {
      font-family: "Play", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    span {
      font-family: "Play", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
    
  }

  /* Dashboard.css */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}
